.grid {
  display: grid;
  grid-template-columns:
    [kw] 2.5em
    [day] 3em
    [description] minmax(10em, 1fr);
  grid-template-rows: auto;
  grid-area: auto / auto / auto / auto;
  border: 1px solid var(--ifm-color-primary);
  margin: 8px;
  padding: 4px;
}

.grid > .cell {
  padding: 2px 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: var(--ifm-color-emphasis-100);
}
.grid > .kw {
  grid-column: kw;
}
.grid > .day {
  grid-column: day;
}
.grid > .description {
  grid-column: description;
}
